:root{
    font-family: "Source Sans 3";
    font-size: calc(0.8rem + 0.5vmax);
    --color-base: rgb(21, 22, 27);
    --color-base-transparente: rgba(21,22,27, 0);
    --color-contraste: rgb(192, 192, 192);
    --color-enfasis: rgb(82, 148, 226);
    --color-enfasis-light: rgb(31, 36, 58);
    --color-visitado: rgb(113, 82, 226);
    scroll-behavior: smooth;
}
ul{
    padding: 0;
}
h1{
    text-align: center;
}
body{
    background-color: var(--color-base);
    color: var(--color-contraste);
    margin: 1em;
}

main h1{
    padding-top: 2.5em;
}

.galeria{
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    justify-content: space-evenly;
}
.galeria img{
    display: block;
    width: auto;
    height: auto;
    max-width: none;
    max-height: 64px;
    object-fit: contain;
    filter: grayscale() brightness(0.6);
    transition-property: filter;
    transition-duration: 0.25s;
}
.galeria img:hover{
    filter: none;
}

section h1, section p, section h2{
    margin: 0;
}
section{
    display: flex;
    flex-flow: column;
    /* padding: 1em 0; */
    margin: 0 5em;
}
section h1{
    margin: 0.25em 0;
}
.proyecto h2{
    margin: 0.55em 0;
}
.proyecto h2 a{
    text-decoration: none;
    color: var(--color-contraste)
}

.proyectos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
}

div.proyecto{
    padding: 0.25em 2em 1em;
    border: 1px solid var(--color-contraste);
    border-radius: 0.2em;
    max-width: 22em;
    display: flex;
    flex-flow: column;
}
.proyecto p + *{
    margin: 0.5em 0;
}
.proyecto img{
    text-align: center;
    width: 100%
}
.proyecto a{
    color: var(--color-enfasis);
}
.proyecto .media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 3em;
}
.proyecto .media video{
    height: 300px;
    margin: 0;
}
.proyecto .media .video{
    max-width: min-content;
}
.proyecto .media .video p{
    font-weight: bold;
}
.proyecto.doble{
    max-width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row nowrap;
    background: linear-gradient(180deg,var(--color-base) 80%, var(--color-base-transparente) 100%);
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    z-index: 1;
}
nav{
    text-align: end;
    display: flex;
}
nav a{
    color: var(--color-contraste);
    transition: background-color;
    transition-duration: 0.25s;
    padding: 0.5em 1em;
    font-size: 1.25em
}
nav a:hover{
    background-color: var(--color-contraste);
    color: var(--color-base)
}
@media (max-width: 90em){
    :root{
        font-size: calc(1rem + 1vmax);
    }
    body, header{
        margin: 0 1.25em;
    }

    header{
        padding: 0;
    }
    header h1{
        font-size: 1.5em;
        margin: 0.5em 0;
    }
    nav a{
        font-size: 1em;
    }
    section{
        margin: 0;
    }
    .proyectos{
        gap: 0;
    }
    .proyecto + .proyecto{
        margin: 1em 0;
    }
    div.proyecto{
        border-width: 0.1em;
        border-radius: 0.5em;
    }
}